# Servidor
PORT=3000

# AWS / S3
AWS_REGION=us-east-2
AWS_ACCESS_KEY_ID=tu_access_key
AWS_SECRET_ACCESS_KEY=tu_secret_key
S3_BUCKET=nombre-de-tu-bucket

# Tiempo de expiración de las URLs (segundos)
UPLOAD_URL_EXPIRES_IN=900
DOWNLOAD_URL_EXPIRES_IN=3600
